@namespace DataLoggerViewer.Presentation.Component
@using DataLoggerViewer.Presentation.ViewModels


<h2 class="text-lg my-4"> Summary info for: @DateFrom - @DateTo </h2>
<section class="max-xl:h-48 min-xl:h-88 overflow-y-auto block bg-white w-full">
  <table class="table table-auto table-xs border  border-base-300">
    <thead class="table-header-group bg-base-200 text-base-content">
      <tr>
        <th>#</th>
        <th>Start Of Lift</th>
        <th>End Of Lift</th>
        <th>Max %SWL Reach</th>
        <th>Nb Approach</th>
        <th>Nb Over</th>
        <th>Nb Cut Off</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var (item, i) in Summaries.Select((x, i) => (x, i)))
      {
        <tr>
          <td>@(i + 1)</td>
          <td>@item.Start</td>
          <td>@item.End</td>
          <td>@item.MaxSWLReached</td>
          <td>@item.NbApproach</td>
          <td>@item.NbOver</td>
          <td>@item.NbCutOff</td>
        </tr>
      }
    </tbody>
  </table>
</section>

@code {

  [Parameter, EditorRequired]
  public IReadOnlyList<LiftSummaryViewModel> Summaries { get; set; } = default!;

  [Parameter, EditorRequired]
  public string DateFrom { get; set; } = default!;
  [Parameter, EditorRequired]
  public string DateTo { get; set; } = default!;

}